body, html{
  height: 100%;
     background-repeat: no-repeat;
   background-position: center; 
   background-size: cover; 
}



#background { 
   height: 100%; 
   /* background-image: url("https://images.unsplash.com/photo-1504466270223-361e33021f6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7f4022380f2a1bb821d8098c9192ac2&auto=format&fit=crop&w=1950&q=80"); */
   /* background-color: rgb(156, 131, 179); */
   background-repeat: no-repeat;
   background-position: center; 
   background-size: cover; 
   position: relative;
 
}

.todos{
  color: white;
  background-color: rgba(54, 53, 53, 0.123);
  height: 15vh;
}

#weather {
 color: white;
  background-color: rgba(54, 53, 53, 0.123);
  height: 10vh;
  text-align: left;
}


.quote {
 color: white;
  background-color: rgba(54, 53, 53, 0.123);
  height: 10vh;
}

